@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Khand');

$family-serif: "Montserrat", serif;
$family-primary: $family-serif;

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

$basha-bold-orange: #ff8732;
$basha-turq: #2dc3dd;
$basha-yellow: #f3dc44;
$basha-green: #94e681;
$basha-red: #ff2020;

$orange: $basha-bold-orange;
$orange-invert: findColorInvert($orange);

$blue : $basha-turq;
$blue-invert: findColorInvert($blue);

$green: $basha-green;
$green-invert: findColorInvert($green);

$red: $basha-red;
$red-invert: findColorInvert($red);

$custom-colors: ("blue": ($blue, $blue-invert),"orange": ($orange, $orange-invert),"green": ($green, $green-invert), "red": ($red, $red-invert));

body {
  background-image: linear-gradient(to top right, $basha-yellow, $basha-turq);
}

.nav-container {
  background-color: white;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
}

.foot-container {
  background-color: white;
  padding: 15px 24px;
}

$panel-width: 1300px;

.maxx {
  max-width: calc($panel-width / 2);
}

.basha-panel {
  max-width: $panel-width;
  margin: 48px;
}

.logo {
  display: inline;
  
  img {
    height: 2rem;
  }

  p {
    display: inline;
    font-family: 'Khand';
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: $basha-bold-orange;
  }
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-turq {
  color: $basha-turq;
}

.link:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.login-container {
  display: flex;
  justify-content: center;
  margin: 48px;
}

.login-half {
  flex-basis: 100%;
  max-width: calc($panel-width / 2);
}

.login-form {

  .finput {
    min-width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid silver; 
  }

  i {
    margin-left: -30px;
    cursor: pointer;
  }
}

.background-semi-faded {
  background: rgba(255, 255, 255, 0.7);
}

.full-width {
  width: 100%
}

.table-fix {
  overflow-x: auto;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;

  img {
    max-height: 30rem;
  }
}

.primary-button {
  background-color: $basha-bold-orange;
  color: white;
}

.loading-screen {
  z-index: 999;
}

@import "../../node_modules/bulma/sass/utilities/mixins.sass";

.loader-mixin {
  @include loader;
}

@import '../../node_modules/bulma/bulma.sass';
