@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

$black:        hsl(0, 0%, 4%);
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

$white-ter:    hsl(0, 0%, 96%);
$white-bis:    hsl(0, 0%, 98%);
$white:        hsl(0, 0%, 100%);

$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(44,  100%, 77%);
$green:        hsl(153, 53%,  53%);
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(207, 61%,  53%);
$blue:         hsl(229, 53%,  53%);
$purple:       hsl(271, 100%, 71%);
$red:          hsl(348, 86%, 61%);

// $new_blue: #56d5e9;
// $new_green: #acbf1b;
// $new_brown: #d9bf9f;
// $new_yellow: #fffc72;
// $new_orange: #ffaf74;
// $faded: #fdf8b6;

$new_blue: #2dc3dd;
$new_green: #80bf1b;
$new_brown: #d9bf9f;
$new_yellow: #fffc72;
$new_orange: #ff8732;
$faded: #fdf8b6;

$info: $new_orange;
$primary: $new_green;
$link: $new_blue;
$red: hsl(0, 85%, 60%);

// html { background: $faded; }

body { background-color: #b2ae7f}


// new stuff starts here

$basha-bold-orange: #ff8732;
$basha-turq: #2dc3dd;

.nav-container {
  background-color: white;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline;
  
  img {
    height: 2rem;
  }

  p {
    display: inline;
    font-family: 'Khand';
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: $basha-bold-orange;
  }
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-turq {
  color: $basha-turq;
}

.link:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

@import '../../node_modules/bulma/bulma.sass';
